.userWrapper{
    width: 264px;
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    position: relative;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;


}

.userBlock{
    display: flex;
}

.userIcon{
    width: 56px;
    height: 56px;
    background-color: #7B61FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.authorizedText{
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;

    &:hover{
        color: #7B61FF;
    }
}

.authorizedTextLight{
    color: black;
}

.arrow{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.arrowRotate{
    transform: rotate(89deg);
}

.linkStyle{
    text-decoration: none;
    color: inherit;
}

.userActions{
    background-color:  #242426;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    margin-top: 80px;
    z-index: 1;
}

.editProfile{
    border-bottom: 1px solid #323537 ;
}

.editProfile, .logOut{
    cursor: pointer;
    color: white;
    padding: 20px 0 20px 20px;
}

.userInitial{
    font-size: 20px;
    color: white;
    font-weight: 700;
}