.settingsWrapper {
    color: white;
    width: 78.3%;
    margin-top: 50px;
    font-family: "Exo 2", sans-serif;
}
.settingsWrapperLignt{
    color: black;
}

.settingsBlocks {
    width: 100%;
}

.settingsProfile {
    width: 100%;
    margin-bottom: 40px;
}

.settingHeader {
    font-size: 24px;
    margin-bottom: 20px;
}

.settingsInputsProfile {
    background-color: #242426;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}


.customTextInput {
    width: 48%;
}

.settingsPassword{
    margin-bottom: 40px;

}

.settingsInputsPassword {
    background-color: #242426;
    display: grid;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.settingsInputsProfileLignt, .settingsInputsPasswordLignt{
    background-color: white;
    border: 2px solid #AFB2B6;
}


.customPasswordInput {
    width: 96%;
    align-content: space-between;
}

.customPasswordInput:nth-child(2) {
    justify-self: end;
}

.customPasswordInput:nth-child(3) {
    grid-column: 2;
    justify-self: end;
}

.colorMode{
    
}
.themeInfo{
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settingHeader{

}

.settingColorMode{
    background-color: #242426;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingColorModeLight{
    background-color: white;
    border: 2px solid #AFB2B6;

}

.themeName{
    font-weight: 700;
    font-size: 16px;
}

.themeInfoText{
    font-weight: 500;
    font-size: 16px;
    color: #AFB2B6;
}

.themeButton{

}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #80858B;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7B61FF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7B61FF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider {
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}