.linkStyle{
    text-decoration: none;
    color: rgba(128, 133, 139, 1);
}

.sideBarWrapper{
    width: 160px;
}

.sideBarList{
    color: rgba(128, 133, 139, 1);
    list-style: none;
    font-family: "Exo 2", sans-serif;
    padding-left: 5px;
    margin-top: 65px;
}

.sideBarListItem{
    width: 80%;
    display: flex;
    align-items: center;
    padding: 18px 0;
    
    
}

.sideBarListItem:nth-child(2){
    margin-left: 2px;
}

.sideBarListItem:nth-child(3){
    margin-left: 2px;
}

.sideBarSpan{
    margin-left: 25px;
    cursor: pointer;

    &:hover{
        color: #917CFF;
    }
}