.wrapperInput{
    height: 95px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 25px;
}

.lableInput{
    line-height: 24px;
}

.textInput{
    width: 100%;
    height: 56px;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    background-color: #323537;
    border: none;
    outline: none;
    padding-left: 20px;
    box-sizing: border-box;

    color: white;
}

.settingsInput{
    width: 100%;
}